{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <p>{{ listing.description }}</p>
    <p>Highest bid: {{ listing.bid }}</p>
    {% if listing.img_url %}
        <p><img src="{{ listing.img_url }}" width="300px"></p>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="col-4">
      {% if listing_in_watchlist%}
        <a class="row" href="{% url 'admin_watchlist' user.id 'remove' listing.id %}">Remove from Watchlist</a>
      {% else %}
        <a class="row" href="{% url 'admin_watchlist' user.id 'add' listing.id %}">Add to Watchlist</a>
      {% endif %}
    </div>
    <div class="container-fluid pt-5">
      {% if error %}
        <div class="row">
            <p class="alert alert-danger">Error: Your bid must be greater than the highest bid</p>
        </div>
      {% endif %}
      <div class="row">
        <form method="POST">
          {% csrf_token %}
          <input type="number" step="0.01" name="bid" placeholder="Enter your bid">
          <input class="btn btn-primary" type="submit" value="Submit"> 
          <input type="hidden" name="price" value="{{ listing.bid }}">
        </form>
      </div>
      <div class="row pt-3">
        {% if user_is_listing_owner and listing.is_open %}
          <a href="{% url 'close' listing.id listing.highest_bidder_id %}">Close listing</a>
        {% endif %}
      </div>
      <div class="row pt-4">
        <form action="{% url 'add_comment' %}" method="POST">
          {% csrf_token %}
          <textarea placeholder="You may enter a comment" rows="5" cols="20" name="comment_text"></textarea>
          <input type="hidden" name="owner_id" value="{{ user.id }}">
          <input type="hidden" name="listing_id" value="{{ listing.id }}">
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="pt-5">
      {% if user.id == listing.winner_id and not listing.is_open %}
        <h2>You have won the bid for this listing!</h2>
      {% endif %}
    </div>

    {% endif %}
{% endblock %}